body {
  font-family: "Roboto", sans-serif;
}

.topBar {
  width: 100%;
  height: 10rem;
  background-color: #4285f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleRow {
  color: #fff;
  font-weight: 700;
  font-size: min(10vw, 2.5em);
  max-width: 600px;
}

.searchWord {
  margin: 0 0.3em 0 0.3em;
}

.queryBar {
  font-size: min(4vw, 1em);
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  margin: 0.5em 0em 0 0em;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 25px;
  justify-content: space-between;
}

.queryBar img {
  width: 3em;
}

.nav-selected {
  border-bottom: 3px solid #4285f4;
}

.nav-selected.nav-link {
  color: #4285f4 !important;
}

.nav-selected.nav-link:hover {
  color: #296ddb !important;
}

.yearbtn {
  border-radius: 30px;
  font-size: 0.8em;
  padding: 0.3em 0.5em 0.2em 0.5em;
  text-decoration: none;
  margin-bottom: 5px;
}

.btn-link.yearbtn {
  color: #b3b3b3;
}

.yearline {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sectiontitle {
  border-bottom: 2px solid #cfcfcf;
  color: #a1a1a1;
  margin-bottom: 1em;
  font-weight: 200;
}

.elementtitle {
  border-left: 10px solid #34a853;
  border-right: 10px solid #34a853;
  padding: 0 10px 0 10px;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1em;
}

.elementtitlerow {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.timeline-image > img {
  width: 100%;
  max-width: 30rem;
  margin-top: 30px;
}

.timeline-year {
  position: absolute;
}

.timeline-year.bg-secondary {
  background-color: #e4e4e4 !important;
  color: #4f4f4f;
}

.positioning {
  width: 300px;
  max-width: 20rem;
}

.positioning.model {
  position: absolute;
  opacity: 50%;
}

.positioning.result {
  margin-top: 10px;
}

.centered-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.applied-pattern {
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
  color: #fff;
  font-weight: 200;
  font-size: 1.5em;
  margin-bottom: 5px;
}
.applied-pattern:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: 0.05s;
}

.drive-btn > img {
  height: 30px;
  margin-right: 10px;
}

.queries-table {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
